<div class="card" style="width: 18rem;">
    <a class="card-link" href="{{ include.url }}">
        {% if include.image %}
        <img class="card-img-top" src="{{ include.image }}" alt="{{ include.title }}">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ include.title }}</h5>

            {% if include.dm_only %}
                <span class="badge badge-danger">DM Only</span>
            {% endif %}

            {% for tag in include.tags %}
                <span class="badge badge-secondary">{{ tag }}</span>
            {% endfor %}
        </div>
    </a>
</div>
