<head>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/rpg-dice/styles.css'  | relative_url }}">

    <!-- Alegreya Font-->
    <link href="https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700,900" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
