body {
    font-family: 'Open Sans';
    font-size: 1.0rem;
}

h1, h2, h3, h4, h5, h6, nav, .badge {
    font-family: 'Montserrat';
    text-transform: uppercase;
}

table {
    @extend .table;
}

.auto-width {
    width: auto;
}

img {
    @extend .img-fluid;
}

blockquote {
    @extend .alert;
    @extend .alert-primary;
}

.content-area {
    @extend .p-4;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.06);
}
